a:link {
  text-decoration: none;
  color: #A6A6A6;
  font-size: 1rem;
}

a:visited {
  color: #A6A6A6;
  font-size: 1rem;
}

a:hover {
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
}

.navbar {
  padding: 0;
}

.logo {
  margin-left: 1.5625rem;
}

.navbar-brand {
  margin-left: 3.125rem;
}

#header {
  margin-top: 4rem;
}

h1 {
  display: flex;
  margin-top: 3.125rem;
  margin-bottom: 1.875rem;
  justify-content: center;
  font-size: 1.5rem;
}

h3 {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: grey;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
}

.card-group {
  margin: 0px 6.25rem 6.25rem 6.25rem;
}

#back-to-top {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1.1rem;
}

footer {
  background-color: #1d2b3d;
  color: #A6A6A6;
  padding-top: 0.625rem;
  padding-bottom: 1.875rem;
}

#contact {
  margin-left: 33.3%;
}

.form-control {
  resize: none;
}

.btn-block {
  margin-bottom: 2.5rem;
}
